@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Roboto:wght@500&family=STIX+Two+Text:wght@400;600;700&display=swap");

.productListing__card {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 180px;
  /* min-height: 100px; */
  height: 350px;
  padding: 5px;
  margin: 1%;
  border: 1px solid #e2d8d8;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.productListing__images {
  /* border: 1px solid black; */
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  margin: 12px;
  margin-bottom: 22px;
  object-fit: cover;
}

.productListing__images:hover {
  transform: scale(1.3);
  transition: all 0.2s linear;
}

.productListing__images > img {
  width: 100%;
  height: 130px;
}

.productListing__title-price {
  display: flex;
  flex-direction: column;
}

.productListing__link{
  color: inherit;
  text-decoration: none;
}

.productListing__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #444040;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.productListing__title:hover {
  color: black;
  text-decoration: underline;
  transition: 0.8s all;
}

.productListing__price {
  color: #502057;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  font-size: 14px;
}

.productListing__overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "STIX Two Text", serif;
  color: #706767;
  font-size: 15px;
  margin: 5px;
  text-indent: 15px;
}

.productListing__addToCart {
  margin: 10px 40px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 13px;
  background-color: black;
  color: #ffffff;
  box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
  font-family: "STIX Two Text", serif;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}
.productListing__addToCart:hover {
  color: #f5deb3;
}

@media screen and (max-width: 1160px) {

  .productListing__card{
    height: 250px;
    
    
  }

  .productListing__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #444040;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }

  .productListing__overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "STIX Two Text", serif;
    color: #706767;
    font-size: 15px;
    padding: 5px;
    text-indent: 15px;
  }

  .productListing__addToCart {
    margin: 5px 45px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: black;
    color: #ffffff;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
    font-family: "STIX Two Text", serif;
    cursor: pointer;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;

}
}
